<h3>
	Last played song for <a href="<%= @user.url %>"><%= params[:username] %></a>:
</h3>

<p>
	<%= @song[:artist] %>: <%= @song[:title] %>
</p>
<a href="<%= "http://rdio.com#{@song[:url]}" %>"><img src="<%= @song[:icon] %>"></a>

<h3>
	Heavy Rotation:
</h3>
<ul>
	<% @user.heavy_rotation.each do |artist| %>
		<li>
			<%= artist %>
		</li>
	<% end %>
</ul>
